menuconfig MALI400
	bool "Mali-400 support"
	depends on ARM
	default n
	select DMA_SHARED_BUFFER
	---help---
	  This enables support for the ARM Mali-400 GPU.

choice
depends on MALI400
prompt "Select MALI VER"
default MALI_VER_R4P0_REL0

config MALI_VER_R4P0_REL0
	bool "Mali400 Version R4P0-REL0"
	help
	  Choose this option to select DDK version.

if MALI_VER_R4P0_REL0
source "drivers/gpu/arm/mali400/r4p0_rel0/Kconfig"
endif

config MALI_VER_R5P0_REL0
	bool "Mali400 Version R5P0-REL0"
	help
	  Choose this option to select DDK version.

if MALI_VER_R5P0_REL0
source "drivers/gpu/arm/mali400/r5p0_rel0/Kconfig"
endif

endchoice
